Flask==3.0.3
playwright==1.48.0
playwright-stealth
gunicorn
flask-sqlalchemy==1.0.6
praw==7.7.1
APScheduler==3.10.4
requests==2.32.3
cryptography==42.0.5
python-dotenv==1.0.1
linkedin-api==2.3.0
PyMuPDF>=1.25.0

